.animation{
    width: 200px;
    height: 200px;
    background-color: red;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: translateX(400px) rotate(360deg);
    }
    75%{

    }

}